<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackpigstudio.classweek" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_summary_info_inventory.filter.FilterActivity"
            android:label="@string/title_activity_filter" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_summary_info_inventory.ClassSummaryInfoInventoryActivity"
            android:label="@string/title_activity_class_summray_info_inventory" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_detail_info.ClassDetailInfoActivity"
            android:label="@string/title_activity_class_detail_info" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.singn_in_up.SignInAndUpActivity"
            android:label="@string/title_activity_sign_in_and_up"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_detail_info.inquiry.InquiryActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/title_activity_inquiry" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_detail_info.order_confirmation.OrderConfirmationActivity"
            android:label="@string/title_activity_order_confirmation" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_detail_info.booking.BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.blackpigstudio.classweek.main.ui.menu.home.class_detail_info.payment.PaymentWebViewActivity"
            android:label="@string/title_activity_payment_web_view" >
        </activity>
    </application>

</manifest>
